<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_movie"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_movie_round"
        android:theme="@style/Theme.MADEMovie">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen.Animated">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.bayu07750.mademovie.core.initializer.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.bayu07750.mademovie.core.initializer.MMKVInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>